//引入全局less
@import "global";

/* 找回密码 */

#header{
	.logo{
		margin-right: 25px;
	}
	.header-left{
		padding: 25px 0;
		h2{
			font-size: 24px;
			color: #333333;
			font-weight: normal;
			border-left: 2px solid #DCDCDA;
			padding-left: 20px;
		}
	}
	.header-right{
		text-align: right;
		padding-top: 16px;
		padding-right: 7px;
		p:nth-child(1){
			color: #333;
			line-height: 22px;
			height: 22px;
		}
		p:nth-child(2){
			color: @comBGC;
			font-size: 20px;
			font-weight: bold;
			height: 30px;
			line-height: 30px;
		}
	}
}
	


/* 主体内容 */
#main-content{
	padding: 80px 0 160px 0;
	font-size: 14px;
	background: url("../images/get-back-password-bg.png") no-repeat center center;
	.content-box{
		width: 970px;
		position: relative;
		padding: 30px 0 60px 0;
		margin-left: 30px;
		background-color: #fff;
		
		//注册上方
		.get-back-password-content-text{
			background-color: @comBGC;
			height: 44px;
			line-height: 44px;
			position: relative;
			.get-back-password-text-bg{
				position: absolute;
				left: -20px;
				top: -15px;
				width: 20px;
				height: 75px;
				background: url('../images/get-back-password-content.png') center center no-repeat;
			}
			.get-back-password-text-left{
				margin-left: 60px;
				p{
					font-size: 20px;
					color: #fff;
					display: block;

				}
			}
			.get-back-password-text-right{
				margin-right: 80px;
				span{
					color: #FFE3C4;
				}
				a{
					color: #fff;
					font-weight: bold;
					text-decoration: underline;
				}

			}
			
		}

		//表单
		form{
			width: 600px;
			margin: 0 auto;
			padding: 40px 0 30px 0;
			.form-group{
				padding: 10px 0;
				margin-bottom: 10px;	
				label{
					width: 85px;
					display: inline-block;
					text-align: right;
					margin-right: 10px;
				}	
				input{
					font-size: @comFontSize;
					padding: 8px 15px;
					border:1px solid #6E6E6E;
					height: 25px;
					width: 350px;
					border-radius: 5px;
					&:active{
						border-radius: 5px;
					}
				}
				#validate-num{
					width: 190px;
					margin-right: 10px;
				}	
				#send-validate{
					width: 145px;
					background-color: #F19927;
					height: 44px;
					padding: 0 15px 0 15px;
					color: #fff;
					border-color:#F19927;
					cursor: pointer;
				}
			}
			
			/* 确认按钮 */

			.get-back-password-btn{
				display: block;
				width: 300px;
				margin: 0 auto;
				font-size: 20px;
				font-weight: bold;
				color: #fff;
				border-radius: 30px;
				padding: 18px 0;
				background-color: #1D95E3;
				box-shadow: 3px 3px 5px #1D95E3;
				cursor: pointer;
				margin-top: 60px;
				&:hover{
					background-color: #1D85E3;
				}
			}
			
		}
		
	}
}