@fontColor:#011726;	//通用字体颜色
@comBGC:#EF8B1D;	//通用背景颜色
@comWidth: 1000px;  //通用宽度
@mainAdFontCol:#23194E;//广告区域字体颜色
@comTitleFontSize:28px;//通用标题字体大小
@comBtnWidth:1120px;	//通用按钮宽度
@bottomDesColor:#252525;//底部声明部分颜色
@bottomLinkBgc:#2C2C2C;//底部链接部分背景颜色
@comFontSize:14px;		//通用字体大小
@comGrayColor:#E8E8E8;
@comContentBGC:#f8f3e9;//通用内容背景颜色
@comCenterBGC:#f0f0f0;	//通用个人中心背景颜色
@comMainWidth:740px;	//通用两分栏主体宽度
@comAsideWidth:240px;	//通用两分栏侧边栏宽度		

//定义颜色渐变动画
.color-change{
	transition: color 0.25s ease, background-color 0.25s ease;
	-webkit-transition: color 0.25s ease, background-color 0.25s ease;
	
} 

body{
  font-family: "Helvetica Neue", 
  Helvetica, 
  Microsoft Yahei, 
  Hiragino Sans GB, 
  WenQuanYi Micro Hei, 
  sans-serif;
  font-size: 14px;
  overflow-x: hidden;
}
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input{margin:0;padding: 0;border: 0;}
ul,ol{list-style: none;}
a{text-decoration: none;}
/*common*/
.comWidth{width: @comWidth;margin: 0 auto;}
.fl{float: left;}
.fr{float: right;}

/*clear float*/
.clearfix:after{content: "";display:block;clear:both;}
.clearfix{zoom:1;}
table{border-collapse:collapse;border-spacing:0}
select,
textarea,
input{
	&:focus{
		outline: none;
	}
}
//文字超出部分
.textOverflow(@comLine:3){
	display: -webkit-box !important;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: @comLine;
}

/* 字体图标 */
@font-face {
  font-family: 'iconfont';
  src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/iconfont.woff') format('woff'),
  url('../fonts/iconfont.ttf') format('truetype'),
  url('../fonts/iconfont.svg#iconfont') format('svg');
}

.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

/* 公用头部 */
#header{
	background-color: #fff;
	height: 80px;


	.logo{
		width: 67px;
		height: 70px;
		line-height: 70px;
		background: url(../images/logo.png) no-repeat center center;
	}
	
	//导航栏
	.navBar{
		margin: 0 30px 0 30px;
		li{
			float: left;
			height: 80px;
			line-height: 80px;
			padding: 0 12px 0 12px;
			&:hover{
				cursor: pointer;
				background-color: @comBGC;
				a{
				color: #fff;
				}
			}
			a{
				color:@fontColor;
			}
		}
		//交互样式
		li.active{
			background-color: @comBGC;
						a{
				color: #fff;
			}
		}
	}

	//登陆注册
	.header-right{
		line-height: 80px;
		height: 80px;
		display: block;
		a{
			border:1px solid @fontColor;
			padding:12px 10px;
			border-radius: 5px;
			color: @fontColor;
		}
		.register{
			background-color: @comBGC;
			color:#fff;
			border-color: @comBGC;
			margin-right: 10px;
		}
	}
}

/* 公用阴影 */
#grad-gray{
    height: 15px;
    width: 100%;
    background: -webkit-linear-gradient(#bbb, #f0f0f0); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#bbb, #f0f0f0); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#bbb, #f0f0f0); /* Firefox 3.6 - 15 */
    background: linear-gradient(#bbb, #f0f0f0); /* 标准的语法（必须放在最后） */
	background-color: transparent;
}

/* 公用广告轮播区域 */
#main-ad{
	height: 600px;
	position: relative;
	.main-ad-content{
		z-index: 1000;
		width: @comWidth;
		position: absolute;
		left: 50%;
		top: 0;
		margin-left: -(@comWidth/2);
		/* 文字部分 */	
		.content-text{
			text-align: center;
			padding-top: 150px;
			padding-bottom: 130px;
			color: @mainAdFontCol; 
			h2{

				font-size: 32px;
				font-weight: 100;
				letter-spacing: 8px;
			}
			p{
				font-size: 16px;
				margin: 30px 0;
			}
			a{
				cursor: pointer;
				color: @mainAdFontCol; 
				border: 1px solid @mainAdFontCol;
				padding: 8px 13px;
				transition: color 0.25s ease, background-color 0.25s ease;
	  			-webkit-transition: color 0.25s ease, background-color 0.25s ease;
				&:hover{
					color: #fff;
					background-color: @mainAdFontCol;
					transition: color 0.25s ease, background-color 0.25s ease;
	  				-webkit-transition: color 0.25s ease, background-color 0.25s ease;
				}
			}
			
		}
		/* 搜索框 */
		.searchbox{
			position: relative;
			width: 960px;
			margin-left: -500px; 
			background-color: rgba(0,0,0,0.5);
			padding: 20px 20px;
			border-radius: 5px;
			left: 50%;
			bottom: 0; 
			/* 选择地点 */
			.select-place{
				position: absolute;
				left: 20px;
				top: 35px;
				color: #fff;
				.select-place-arrow{
					position: absolute;
					cursor: pointer;
					left: 45px;
					top: 6px;
					width: 14px;
					height: 8px;
					background: url(../images/arrow.png) no-repeat center center;
				}
				/* 城市选择
				.select-place-item{
					position: absolute;
					left: 0;
					top: 0;
					width: 250px;
					border: 1px solid @comBGC; 
					background-color: @comBGC;
					padding: 10px 15px;
					border-radius: 5px;
					li{
						float: left;
						cursor: pointer;
					}
				} */
			}
			#search-input{
				padding: 18px;
				margin-left: 80px;
				width: 764px;
				border-radius: 5px;
			}
			#search-btn{
				cursor: pointer;
				position: absolute;
				right: 24px;
				top: 17px;
				width: 54px;
				height: 54px;
				background: url(../images/search.png) no-repeat center center;
			}
		}
	}
	/* 公用样式 */	
	.swiper-container{
		margin: 0 auto;
		/* 按钮部分 */
		.btn{
			width: @comBtnWidth;
			height: 100%;
			position: absolute;
			top:0;
			left: 50%;
			margin-left: -(@comBtnWidth/2);
		}
		.swiper-button-next{
			background: url(../images/arrow-next.png) no-repeat center center;

		}
		.swiper-button-prev{
			background: url(../images/arrow-prev.png) no-repeat center center;
			
		}
	}
	.main-ad-container{
		overflow: hidden;
		height: 600px;
		.main-ad-wrapper{
			height: 600px;
			img{
			}
		}
	}
}

/* 公用标题下划线 */
.title-line{
	padding-bottom: 15px;
	border-bottom: 2px solid #333333;
	width: 80px;	
	margin: 0 auto;
}

/* 公用底部 */
#footer{
	/* 底部主要内容 */
	.footer-wrapper{
		background-color: @bottomLinkBgc;
		padding: 40px 0;
		.footer-main-link{
			margin-bottom: 30px;
			ul{
				width: 20%;
				float: left;
				h4{
					color: @comBGC;
					font-size: 16px;
					font-weight: bold;
					margin-bottom: 20px;
				}
				li{
					padding: 5px 0;
					a{
						color: #DDDADA;
					}
				}
			}
		}
		/* 友情链接 */
		.footer-friendly-link{
			p{
				font-size: 16px;
				font-weight: bold;
				color: #fff;
				margin-bottom: 20px;
			}
			ul{
				li{
					float: left;
					a{
						color: #DDD9D9;
					}
				}
				li + li{
					margin-left: 30px;
				}
			}
		}
	}
	/* 底部声明部分 */
	.footer-description{
		background-color: @bottomDesColor;
		padding: 30px 0;
		p{
			color:#DDDADA;
			font-size: 12px;
			text-align: center; 
		}
	}
}

/* 公用分页组件 */
.pagination-wrapper{
	span,
	a{
		text-align: center;
		font-size: 12px;
		color:#333333;
		/* width: 50px; */
		padding: 0 15px;
		height: 30px;
		line-height: 30px;
		border:2px solid #BFBFBF;
		border-radius: 5px;
		display: inline-block;
		color: #333333;
		background-color: #fff;
		margin: 0 10px;
	}
	span.current{
		color: #fff;
		background-color: @comBGC;
		border-color: @comBGC;
	}
	span.prev,
	span.next{
		color: #333333;
		border-color:#BFBFBF;
		background-color: #fff;
	}
	
	/* .pagination-container{
		li + li{
			margin-left: 20px;
		}
		li{
			float: left;
			border:1px solid #BFBFBF;
			border-radius: 3px;
	
			a{
				padding: 10px 20px;
				font-size: 12px;
				color:#333333;
				display: block;
			}
		}
		.pagination-prev-btn a,
		.pagination-next-btn a,{
			padding: 10px 8px;
		}
		li.active{
			a{
				color: #fff;
			}
			background-color: @comBGC;
			border-color: @comBGC;
		}
	} */
}


/* 个人中心公用左侧边栏 */
.person-center-aside{
	float: left;
	width: @comAsideWidth;
	background-color: #fff;
	.person-center-aside-wrapper{
		.person-center-item{
			p{
			
				font-size: 18px;
				color: #333;
				height: 60px;
				line-height: 60px;
				-moz-user-select: none;
				-khtml-user-select: none;
				user-select: none;
				cursor: default;
				i{
					padding: 0 30px 0 30px;
					font-size: 24px;
				}
			}
			ul{
				li{
					&:hover{
						background-color: @comBGC;
						a{
							color: #fff;
						}
					}
					a{
						color: #333;
						display: block;
						font-size: 14px;
						padding-left: 85px;
						padding-top: 20px;
						padding-bottom: 20px;
					}
				}
				li.active{
					background-color: @comBGC;
					a{
						color: #fff;
					}
				}
			}
		}
	}
}

/* 个人中心公用右侧内容 */
//内容部分
.person-center-points-main{
	float: right;
	width: @comMainWidth;
	//个人信息
	.person-center-info{
		background-color: #fff;
		padding: 20px 50px;
		.person-user-head{
			float: left;
			width: 100px;
			height: 100px;
			border-radius: 50%;
			border: 3px solid #ffe4bc;
			img{
				border-radius: 50%;
				
			}
		}
		
		.person-info-text{
			float: right;
			width: 510px;
			p.person-info-contact{
				font-size: 18px;
				padding-top: 10px;
				span{
					margin-right: 35px;
				}
			}
			ul.person-num-wrapper{
				margin-top: 25px;
				li{
					float: left;
					text-align: center;
					
					
					padding: 0 20px;
					p{
						margin-top: -10px;
					}
					a{
						display: block;
						font-size: 18px;
						margin-top: 5px;
						margin-bottom: -10px;
					}
					
				}
				li + li{
					
						border-left: 2px solid #dfdfdf;
				}
				li:nth-of-type(1){
					padding-left: 0;
					a{
						color: #ef3a4f;
					}
				}
				li:nth-of-type(2){
					a{
						color: @comBGC;
					}
				}
				li:nth-of-type(3){
					a{
						color: #1183d3;
					}
				}
				li:nth-of-type(4){
					a{
						color: #679b55;
					}
				}
			}
		}
	}
	//积分信息
	.person-center-points-num{
		background-color: #fff;
		margin-top: 15px;
		h2{
			padding: 15px 0 15px 20px;
			font-size: 18px;
			color: @comBGC;
			border-bottom: 2px solid #e7e6e5;
		}
		.num-detail{
			padding: 25px 0 25px 20px;
			p{
				float: left;
				margin-right: 40px;
				a{
					color: @comBGC;
					padding-left: 10px;
					font-size: 18px;
					font-weight: bold;
				}
			}
		}
	}
	//积分说明
	.person-center-points-description{
		background-color: #fff;
		margin-top: 15px;
		h2{
			padding: 15px 0 15px 20px;
			font-size: 18px;
			color: @comBGC;
			border-bottom: 2px solid #e7e6e5;
		}
		.points-description-wrapper{
			padding-left: 20px;
			li{
				padding: 15px 20px 15px 0;
			}
			li + li{
				border-top: 2px solid #e7e6e5;
			}
		}
	}
}

