@fontColor:#011726;	//通用字体颜色
@comBGC:#EF8B1D;	//通用背景颜色
@comWidth: 1000px;  //通用宽度
@mainAdFontCol:#23194E;//广告区域字体颜色
@comTitleFontSize:28px;//通用标题字体大小
@comBtnWidth:1120px;	//通用按钮宽度
@bottomDesColor:#252525;//底部声明部分颜色
@bottomLinkBgc:#2C2C2C;//底部链接部分背景颜色
body{
  font-family: "Helvetica Neue", 
  Helvetica, 
  Microsoft Yahei, 
  Hiragino Sans GB, 
  WenQuanYi Micro Hei, 
  sans-serif;
  font-size: 14px;

}
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input{margin:0;padding: 0;border: 0;}
ul,ol{list-style: none;}
a{text-decoration: none;}
/*common*/
.comWidth{width: 1000px;margin: 0 auto;}
.fl{float: left;}
.fr{float: right;}

/*clear float*/
.clearfix:after{content: "";display:block;clear:both;}
.clearfix{zoom:1;}

/* 字体图标 */
@font-face {
  font-family: 'iconfont';
  src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/iconfont.woff') format('woff'),
  url('../fonts/iconfont.ttf') format('truetype'),
  url('../fonts/iconfont.svg#iconfont') format('svg');
}

.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

/* 公用头部 */
#header{
	background-color: #fff;
	height: 80px;

	.logo{
		margin-left: 21px;
		width: 67px;
		height: 70px;
		line-height: 70px;
		background: url(../images/logo.png) no-repeat center center;
	}
	
	//导航栏
	.navBar{
		margin: 0 30px 0 50px;
		li{
			float: left;
			padding: 30px 10px 31px 10px;
			&:hover{
				cursor: pointer;
				background-color: @comBGC;
				a{
				color: #fff;
				}
			}
			a{
				color:@fontColor;
			}
		}
		//交互样式
		li.active{
			background-color: @comBGC;
						a{
				color: #fff;
			}
		}
	}

	//登陆注册
	.header-right{
		line-height: 80px;
		height: 80px;
		display: block;
		a{
			border:1px solid @fontColor;
			padding:12px 10px;
			border-radius: 5px;
			color: @fontColor;
		}
		.register{
			background-color: @comBGC;
			color:#fff;
			border-color: @comBGC;
			margin-right: 10px;
		}
	}
}




/* 公用广告轮播区域 */
#main-ad{
	height: 600px;
	.swiper-container{
		position: relative;
		background-color: #E42E2E;
		width: 100%;
		height: 600px;
		margin: 0 auto;
		/* 文字部分 */	
		.content-text{
			text-align: center;
			padding-top: 150px;
			color: @mainAdFontCol; 
			h2{

				font-size: 32px;
				font-weight: 100;
				letter-spacing: 8px;
			}
			p{
				font-size: 16px;
				margin: 30px 0;
			}
			a{
				cursor: pointer;
				color: @mainAdFontCol; 
				border: 1px solid @mainAdFontCol;
				padding: 8px 13px;
				transition: color 0.25s ease, background-color 0.25s ease;
	  			-webkit-transition: color 0.25s ease, background-color 0.25s ease;
				&:hover{
					color: #fff;
					background-color: @mainAdFontCol;
					transition: color 0.25s ease, background-color 0.25s ease;
	  				-webkit-transition: color 0.25s ease, background-color 0.25s ease;
				}
			}
			
		}
		/* 搜索框 */
		.searchbox{
			position: absolute;
			width: 960px;
			margin-left: -480px;
			background-color: rgb(107,33,33);
			padding: 20px 20px;
			border-radius: 5px;
			left: 50%;
			bottom: 40px;
			/* 选择地点 */
			.select-place{
				position: absolute;
				left: 20px;
				top: 35px;
				color: #fff;
				.select-place-arrow{
					position: absolute;
					cursor: pointer;
					left: 45px;
					top: 6px;
					width: 14px;
					height: 8px;
					background: url(../images/arrow.png) no-repeat center center;
				}
				/* 城市选择
				.select-place-item{
					position: absolute;
					left: 0;
					top: 0;
					width: 250px;
					border: 1px solid @comBGC; 
					background-color: @comBGC;
					padding: 10px 15px;
					border-radius: 5px;
					li{
						float: left;
						cursor: pointer;
					}
				} */
			}
			#search-input{
				padding: 18px;
				margin-left: 80px;
				width: 764px;
				border-radius: 5px;
			}
			#search-btn{
				cursor: pointer;
				position: absolute;
				right: 24px;
				top: 17px;
				width: 54px;
				height: 54px;
				background: url(../images/search.png) no-repeat center center;
			}
		}
		/* 按钮部分 */
		.btn{
		
			width: @comBtnWidth;
			height: 100%;
			position: absolute;
			top:0;
			left: 50%;
			margin-left: -(@comBtnWidth/2);
		}
		.swiper-button-next{
			background: url(../images/arrow-next.png) no-repeat center center;

		}
		.swiper-button-prev{
			background: url(../images/arrow-prev.png) no-repeat center center;
			
		}
	}
}

/* 公用标题下划线 */
.title-line{
	padding-bottom: 15px;
	border-bottom: 2px solid #333333;
	width: 80px;	
	margin: 0 auto;
}

/* 公用底部 */
#footer{
	/* 底部主要内容 */
	.footer-wrapper{
		background-color: @bottomLinkBgc;
		padding: 40px 0;
		.footer-main-link{
			margin-bottom: 30px;
			ul{
				width: 20%;
				float: left;
				h4{
					color: @comBGC;
					font-size: 16px;
					font-weight: bold;
					margin-bottom: 20px;
				}
				li{
					padding: 5px 0;
					a{
						color: #DDDADA;
					}
				}
			}
		}
		/* 友情链接 */
		.footer-friendly-link{
			p{
				font-size: 16px;
				font-weight: bold;
				color: #fff;
				margin-bottom: 20px;
			}
			ul{
				li{
					float: left;
					a{
						color: #DDD9D9;
					}
				}
				li + li{
					margin-left: 30px;
				}
			}
		}
	}
	/* 底部声明部分 */
	.footer-description{
		background-color: @bottomDesColor;
		padding: 30px 0;
		p{
			color:#DDDADA;
			font-size: 12px;
			text-align: center; 
		}
	}
}




