//引入全局less
@import "global";

#person-center-points-content{
	background-color: @comCenterBGC;
	padding-bottom: 800px;
	//左侧边栏
	.person-center-aside{

	}
	//内容部分
	.person-center-points-main{
		float: right;
		width: 725px;
		
		//积分信息
		.person-center-points-num{
			background-color: #fff;
			margin-top: 15px;
			h2{
				padding: 15px 0 15px 20px;
				font-size: 18px;
				color: @comBGC;
				border-bottom: 2px solid #e7e6e5;
			}
			.num-detail{
				padding: 25px 0 25px 20px;
				p{
					float: left;
					margin-right: 40px;
					a{
						color: @comBGC;
						padding-left: 10px;
						font-size: 18px;
						font-weight: bold;
					}
				}
			}
		}
		
	}
}
