//引入全局less
@import "global";

#points-shop-banner{
	.banner-img-item{
		background-size: cover; 
		height: 500px;
		background: url('../images/points-shop-banner.png') no-repeat center center;
		.shop-banner-text{
			text-align: center;
			padding-top: 400px;
			h1{
				color: #fff;
				font-size: 38px;
			}
		}
	}
}

#points-shop-main-content{
	background-color: #EFEFEF;
	padding: 40px 0 260px 0; 
	.points-shop-aside{
		width: 250px;
		.user-info-content{
			background-color: #fff;
			text-align: center;
			margin-bottom: 30px;
			.user-content-top{
				padding: 30px 0 17px 0;
				border-bottom: 2px solid @comBGC;
				.user-head{
					width: 80px;
					height: 80px;
					border-radius: 50%;
					margin: 0 auto;
					background-color: @comBGC;
					img{
						width: 80px;
						height: 80px;
						border-radius: 50%;
					}
				}
				
				.user-text{
					p:nth-of-type(1){
						color: #000;
						span{
							color: @comBGC;
						}
						margin-bottom: 10px;
					}
					p:nth-of-type(2){
						color: #909090;
					}
				}
			}
			/* 底部 */
			.user-content-bottom{
				padding: 10px 0;
				.user-order,.user-points{
					width: 49.5%;
					float: left;
					p{
						color: #636363;
						margin-bottom: 8px;
					}
					a{
						font-size: 20px;
					}
				}
				.user-order{
					border-right: 2px solid #E8E8E8;
					a{
						color: @comBGC;
					}
				}
				.user-points{
					a{
						color: #1C78CE;
					}
				}
			}
		}
		.hot-exchange{
			background-color: #fff;
			border-top: 4px solid #005B98;
			padding-bottom: 50px;
			-moz-box-shadow:1px 3px 1px #D3D3D3; -webkit-box-shadow:1px 3px 1px #D3D3D3; box-shadow:1px 3px 1px #D3D3D3;
			/* 标题 */
			.hot-exchange-title{
				position: relative;
				text-align: center;
				padding: 25px 10px;
				h2{
					color: #636363;
					font-size: 20px;
					font-weight: bold;
					display: block;
					position: absolute;
					padding: 0 10px;
					width: 80px;
					height: 26px;
					top: 50%;
					left: 50%;					
					margin-left: -50px;
					margin-top: -13px;
					display: block;
					background-color: #fff;
				}
				.hot-title-line{
					height: 2px;
					width: 100%;
					background-color: #E6E6E5;
					
				}
			}
			/* 热门兑换内容区域 */
			.hot-exchange-wrapper{
				padding-left: 10px;
				.hot-exchange-item + .hot-exchange-item{
					border-top: 2px solid #E6E6E5;					
				}
				.hot-exchange-item{
					position: relative;
					padding: 10px 0;

					img{
						width: 84px;
						height: 84px;
						float: left;
					}
					a{
						display: block;
						color: #333333;
						padding: 10px 10px 0 10px;
						//多出部分省略号显示
						display: -webkit-box !important;  
		                overflow: hidden;  
		                text-overflow: ellipsis;  
		                word-break: break-all;  
		                -webkit-box-orient: vertical;  
		                -webkit-line-clamp: 2;
					}
				}
				.hot-exchange-item::before{
					content: '1';
					text-align: center;
				  	width: 16px;
				  	height: 16px;
				  	background-color: #A9A9A9;
				  	color: #000;
				  	position: absolute;
				  	left: 0px;
				 	top: 10px;
				}
				.hot-exchange-item:nth-of-type(1)::before{
					content: '1';
					background-color: #EA2121;
					color: #fff;
				}
				.hot-exchange-item:nth-of-type(2)::before{
					content: '2';
					background-color: #EF8B1D;
					color: #fff;
				}
				.hot-exchange-item:nth-of-type(3)::before{
					content: '3';
				}
				.hot-exchange-item:nth-of-type(4)::before{
					content: '4';
				}
				.hot-exchange-item:nth-of-type(5)::before{
					content: '5';
				}
				.hot-exchange-item:nth-of-type(6)::before{
					content: '6';
				}
				.hot-exchange-item:nth-of-type(7)::before{
					content: '7';
				}
				.hot-exchange-item:nth-of-type(8)::before{
					content: '8';
				}
			}

		}
	}
	/* 选项卡内容区域 */
	.points-shop-right{
		width: 725px;
		margin-left: 25px; 
		.points-shop-tabs{
			position: relative;
			height: 40px;
			border-bottom: 2px solid #E7E5E5;
			li{
				height: 40px;
				float: left;
				font-size: 20px;
				color: #636363;
				font-weight: bold;
				a{
					cursor: pointer;
					padding: 0 20px;
				}
			}
			li.active{
				color: @comBGC;
				border-bottom: 2px solid @comBGC;
			}
			li+ li{
				a{
					border-left: 2px solid #D3D1D1;
				}
				
			}
		}	
		.poins-shop-wrapper{
			margin-top: 30px;

			
			.entity-exchange,
			.souvenir-exchange,
			.coupon-exchange{
				position: relative;
				
				.exchange-searchresult,
				.exchange-wrapper{
					.exchange-item{
						float: left;
						padding: 8px;
						border:1px solid #D3D2D2;
						width: 223px;
						background-color: #fff;
						img{
							width: 225px;
							height: 141px;
						}
						p{
							color: #333333;
							font-size: 14px;
							margin: 10px 0;
							display: -webkit-box !important;  
			                overflow: hidden;  
			                text-overflow: ellipsis;  
			                word-break: break-all;  
			                -webkit-box-orient: vertical;  
			                -webkit-line-clamp: 2;
						}
						.item-detail{
							p{
								float: left;
								color: @comBGC;
								font-size: 14px;
								span{
									font-size: 16px;
								}
							}
							a{
								float: right;
								display: block;
								height: 30px;
								line-height: 30px;
								color: #fff;
								background-color: @comBGC;
								padding: 0 15px;
								border-radius: 5px;
							}
						}
					}
				}
			}

			.entity-exchange,
			.souvenir-exchange{
				display: none;
			}

		}	

		/* 积分商城公用分页器 */
		.pagination-wrapper{
			position: absolute;
			top: 850px;
			right: 0;
		}

	}

}