//引入全局less
@import "global";
#points-shop-banner{
	.banner-img-item{
		background-size: cover; 
		height: 600px;
		background: url('../images/points-shop-banner.png') no-repeat center center;
		.shop-banner-text{
			text-align: center;
			padding-top: 500px;
			h1{
				color: #fff;
				font-size: 38px;
			}
		}
	}
}