//引入全局less
@import "global";

//banner区域
#travel-notes-detail-banner{
	.travel-notes-banner-img{
		height: 600px;
		img{
			height: 600px;
			margin: 0;
		}
	}
	.travel-notes-user-info{
		position: relative;
		height: 60px;
		background-color: #fff;
		.travel-notes-user-detail{
			position: absolute;
			bottom: 0;
			.travel-notes-user-head{
				background-color: #fff;
				text-align: center;
				float: left;

			    width: 110px;
			    height: 110px;
			    margin: 0;
			    vertical-align: middle;
			    border-radius: 50%;
			    overflow: hidden;
			    border: 3px solid #fff;
				img{
					width: 110px;
					height: 110px;
				}
			}
			.travel-notes-user-text{
				width: @comWidth;
				height: 112px;
				margin-left: 150px;
				h2{
					color: #fff;
					font-size: 28px;
					height: 50px;
					line-height: 50px;	
					font-weight: normal;
					letter-spacing: 8px;
				}
				p{
					height: 60px;
					line-height: 60px;

					span{
						margin-right: 20px;
						i{
							color: #909090;
							padding-right: 5px;
							font-size: 22px;
						}
						
					}
					span.user-name,
					span.user-love{
						color: @comBGC;
						i{
							color: @comBGC;

						}
					}
				}
			}
		}
	}
}

//主体区域
#travel-notes-detail-content{
	background-color: @comContentBGC;
	padding-top: 20px;
	padding-bottom: 250px;
	.travel-notes-detail-container{
		position: relative;
		width: @comMainWidth;
		float: left;
		//margin-right: 25px;
		.travel-notes-container-anchor{
			display: none;
			position: absolute;
			left: -90px;
			top: 0;
			border-right: 2px dashed #a8a7a5;
			li{
				display: block;
				padding-right: 14px;
				position: relative;
				a{
					color:#333333;
				}
				
			}
			li::after{
				content: ' ';
				width: 8px;
				height: 8px;
				border-radius: 50%;
				color: #8f8e8d;
				background-color: #8f8e8d;
				position: absolute;
				right: -5px;
				top: 4px;
			}
			li.active{
				a{
					font-style: italic;
					font-size: 20px;
					color: @comBGC;
					font-size: bold;
				}
			}
			li.active::after{
				background-color:  @comBGC;
			}

			li + li{
				margin-top: 40px;
			}
			
		}
		//内容区域
		.travel-day-content{
			margin-bottom: 20px;
			width: @comMainWidth;
			img{
				width: 100%;
			
			}
			p{
				margin: 20px 0 40px 0;
				line-height: 2;
			}
			.travel-notes-info{
				margin-bottom: 25px;
				span{
					margin-right: 20px;
					i{
						color: @comBGC;
						padding-right: 5px;
						font-size: 22px;
					}
				}
			}
		}

		//发布留言区域
		.travel-notes-detail-message{
			padding: 20px 0;
			p{
				text-align: right;
			}
			#travel-notes-message-form{
				textarea{
					resize:none;
					max-width: 716px;
					width: 716px;

					padding: 10px;
					border: 2px solid #a8a7a5;
					color: #333333;
					border-radius: 5px;
					line-height: 1.5;
					&:focus{
						outline: none;
					}
				}
				#message-submit-btn{
					cursor: pointer;
					margin-top: 20px;
					text-align: right;
					float: right;
					padding: 16px 22px;
					background-color: @comBGC;
					color: #fff;
					border-radius: 5px;
					font-weight: bold;
				}
			}
		}
		//留言部分
		.travel-notes-detail-comments{
			.travel-notes-comments-wrapper{
				li{
					padding: 20px 0;
					border-bottom: 2px solid #e6e5e5;
					img{
						float: left;
					}
					.comment-content{
						margin-left: 120px;
						.comment-detail{
							padding: 10px 0;
							.comment-name{
								color: @comBGC;
								margin-right: 10px;
							}
						}
					}
					
				}
			}
		}	
	}

	//侧边栏
	.travel-notes-detail-aside{
		width: @comAsideWidth;
		float: right;
		//活动推荐
		.activity-recommendation{
			background-color: #fff;
			border-top: 4px solid #005B98;
			-moz-box-shadow:1px 3px 1px #D3D3D3; -webkit-box-shadow:1px 3px 1px #D3D3D3; box-shadow:1px 3px 1px #D3D3D3;
			/* 标题 */
			.activity-recommendation-title{
				position: relative;
				text-align: center;
				padding: 25px 10px;
				h2{
					color: #005B98;
					font-size: 20px;
					font-weight: normal;
					display: block;
					position: absolute;
					padding: 0 10px;
					width: 80px;
					height: 26px;
					top: 50%;
					left: 50%;					
					margin-left: -50px;
					margin-top: -13px;
					display: block;
					background-color: #fff;
				}
				.hot-title-line{
					height: 2px;
					width: 100%;
					background-color: #E6E6E5;
					
				}
			}
			/* 热门兑换内容区域 */
			.activity-recommendation-wrapper{
				padding: 0 10px;
				.activity-recommendation-item + .activity-recommendation-item{
					border-top: 2px solid #E6E6E5;					
				}
				.activity-recommendation-item{
					position: relative;
					padding: 10px 0;
					img{
						width: 80px;
						height: 80px;
						float: left;
					}
					a{
						display: block;
						color: #333333;
						padding: 5px 10px 0 10px;
						//多出部分省略号显示
						display: -webkit-box !important;  
		                overflow: hidden;  
		                text-overflow: ellipsis;  
		                word-break: break-all;  
		                -webkit-box-orient: vertical;  
		                -webkit-line-clamp: 3;
					}
				}
				.activity-recommendation-item::before{
					text-align: center;
				  	width: 16px;
				  	height: 16px;
				  	background-color: #A9A9A9;
				  	color: #000;
				  	position: absolute;
				  	left: 0px;
				 	top: 10px;
				}
			}
		}
		//推荐游记
		.travel-notes-recommendation{
			margin-top: 20px;
			background-color: #fff;
			border-top: 4px solid #834aeb;
			-moz-box-shadow:1px 3px 1px #D3D3D3; -webkit-box-shadow:1px 3px 1px #D3D3D3; box-shadow:1px 3px 1px #D3D3D3;
			/* 标题 */
			.travel-notes-recommendation-title{
				position: relative;
				text-align: center;
				padding: 25px 10px;
				h2{
					color: #834aeb;
					font-size: 20px;
					font-weight: normal;
					display: block;
					position: absolute;
					padding: 0 10px;
					width: 80px;
					height: 26px;
					top: 50%;
					left: 50%;					
					margin-left: -50px;
					margin-top: -13px;
					display: block;
					background-color: #fff;

				}
				.hot-title-line{
					height: 2px;
					width: 100%;
					background-color: #E6E6E5;
					
				}
			}
			.travel-notes-recommendation-wrapper{
				.travel-notes-recommendation-item{
					margin-top: 10px;
					a{

						img{
							width: 100%;
							display: block;
						}
						p{
							color: #333;
							
							padding: 5px 10px;
							border-bottom: 2px solid #e1e0df;
						}
					}
				}
				
			}
		}
	}
}