//引入全局less
@import "global";

//轮播区域
#video-list-banner{
	.video-banner-wrapper{
		position: relative;
		height: 600px;
		overflow: hidden;
		.big-img-container {
			position: absolute;
		    width: 100%;
		    li{
		    	height: 600px;
		    	/* display: none; */
		    }
		    li.active{
		    	display: block;
		    }

		}
		.small-img-bg{
			padding: 15px 0;
			width: 100%;
			background-color: rgba(0,0,0,0.5);
			position: absolute;
			bottom: 0;
			left: 0;

			.small-img-container{
				width: @comWidth;
				overflow: hidden;
				text-align: center;
				margin: 0 auto;
				li + li{
					margin-left: 18px;
				}
				li.small-img-item{
					border: 1px solid transparent;
					cursor: pointer;
					opacity: 0.6;
					width: 183px;
					height: 83px; 
					float: left;
					&:hover{
						opacity: 1;
					}
					img{
						width: 183px;
						height: 83px;
					}
				}
				
			}
				

		}
		/* 标题栏 */
		.video-list-banner-title{
			position: absolute;
			left: 50%;
			margin-left: -350px;
			top: 215px;
			width: 700px;
			height: 75px;
			background: url('../images/video-list-title.png') center center no-repeat;
		}
		
	}
	
}
